body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
}

h1{
        font-size: 70px;
        font-weight: 900;
        margin: auto;
        margin-top: 0;
}
a {
        margin-top: 5%;
        display: inline-block;
        
}
.flexible-container {
        display: flex;

}

section img{
        width: 70%;
        margin: 10%;
        
}

.half-width {
        width: 50%;
        margin-left: 5%;
}

.cta-btn {
        padding: 10px 40px;
        background: #448F39;
        text-decoration: none;
        margin-right: 2%;        
        color: #fff;
}
.dev-name {
        color: #448F39;
}
.learnmore {
        background: #E3E3E3;
        color: #7A7A7A;
}

.dev-q {
        color: #448F39;
        font-weight: 700;
        margin-top: 10%;
}
.h-title {
        width:500px;
        margin: 0 auto;        
        text-align: center;
        

}

.text-bottom { 
        background:#222;
    color:#fff;
    display:block;
    margin:0 auto;
}

.box {
    width: 10%;
    margin: 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.3s;
    width: 40%;
    padding: 2%;    
    margin: 0 2%;
    
        
}
.box img {
        width: 100px;
        text-align: center;
}

#about {
        padding: 40px 40px;
}